
@using MyEvernote.Entities

@model EvernoteUser



@{
    ViewBag.Title = "Profiliniz";
}



<div class="container">

    <div class="row">

        <h2>@ViewBag.Title</h2> <hr />

    </div>

    <div class="row">

        <div class="col-md-2">
            <img src="~/Images/@Model.ProfileImageFile" class="img-circle" width="128" height="128" alt="Profil Resmi" />
        </div>

        <div class="col-md-8">

            <h3>@(Model.Name + " " + Model.Surname)</h3>
            <br />
            <h6><b> Username : </b> @Model.Username</h6>
            <br />
            <h6><b> Email : </b> @Model.Email</h6>
            <br />
            <h6><a href="#">More... </a></h6>

        </div>

        <div class="col-md-2 text-right">

            <div class="btn-group">

                <a class="btn dropdown-toggle btn-info" data-toggle="dropdown" href="#">
                    <span class="glyphicon glyphicon-cog">&nbsp;</span>
                    Options &nbsp;
                    <span class="glyphicon glyphicon-wrench"></span>&nbsp;&nbsp;&nbsp;<span class="caret"></span>
                </a>

                <ul class="dropdown-menu">

                    <li>
                        <a href="@Url.Action("EditProfile")">

                            <span class="glyphicon glyphicon-edit">&nbsp;</span> Düzenle

                        </a>

                    </li>

                    <li>

                        <a href="@Url.Action("DeleteProfile")" onclick="return confirm('Hesabınızı Silmek İstediğinize Emin Misiniz?');">
                        <span class="glyphicon glyphicon-trash">&nbsp;</span>

                            Hesabı Sil

                        </a>


                    </li>


                </ul>

            </div>

        </div>


    </div>





</div>

<script>

    $(function () {


        $("footer").parent().hide();


    });



</script>

